{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Tullow Oil Ghana | Forms to Fill</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Tullow Oil Ghana" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="{% static 'portal/css/bootstrap.css' %}">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{% static 'portal/css/style.css' %} " type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="{% static 'portal/css/font-awesome.min.css' %}" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
	 rel="stylesheet">
	<!-- //Web-Fonts -->

	<style>
		.dropbtn {
			background-color: #3498DB;
			color: white;
			padding: 16px;
			font-size: 16px;
			border: none;
			cursor: pointer;
		}

		.dropbtn:hover, .dropbtn:focus {
			background-color: #2980B9;
		}

		.dropdown {
			position: relative;
			display: inline-block;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #f1f1f1;
			min-width: 160px;
			overflow: auto;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
		}

		.dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

		.dropdown a:hover {background-color: #ddd;}

		.show {display: block;}
	</style>

</head>

<body>
	<!-- main banner -->
	<div class="main-top" id="home">
		<!-- header -->
		<header>
			<div class="container-fluid">
				<div class="header d-lg-flex justify-content-between align-items-center py-3 px-sm-3">
					<!-- logo -->
					<div id="logo">
						<h1><a href="#"><span class="fa fa-linode mr-2"></span>Tullow Oil Ghana</a></h1>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
							<label for="drop" class="toggle">Menu</label>
							<input type="checkbox" id="drop" />
							<ul class="menu">
								<li><a href="{% url 'portal:tutorials' %}" >Tutorials & Videos</a></li>
								<li><a href="{% url 'portal:forms' %}" class="active">Forms to Fill</a></li>
								<li><a href="{% url 'portal:todo' %}" >Todo List & Resources</a></li>
								<li><a href="{% url 'portal:employees' %}" >Other Employess</a></li>
							</ul>
						</nav>
					</div>
					<!-- //nav -->
					<div class="d-flex mt-lg-1 mt-sm-2 mt-3 justify-content-center">

						<!-- download
						<a class="dwn-w3ls btn" href="#">
							<span class="fa fa-user"></span>
						</a>
						a href="javascript:openwindow()
						-->

						<div class="dropdown">
							<a class="dropbtn" href="javascript:myFunction()">
								<span class="fa fa-user"></span>
							</a>
							<div id="myDropdown" class="dropdown-content">
								<a href="#">{{user.full_name}}</a>
								<a href="#settings">Settings</a>
								<a href="{% url 'logout' %}">Logout</a>
							</div>
						</div>

						<script>
							/* When the user clicks on the button,
							toggle between hiding and showing the dropdown content */
							function myFunction() {
								document.getElementById("myDropdown").classList.toggle("show");
							}

							// Close the dropdown if the user clicks outside of it
							window.onclick = function(event) {
								if (!event.target.matches('.dropbtn')) {
									var dropdowns = document.getElementsByClassName("dropdown-content");
									var i;
									for (i = 0; i < dropdowns.length; i++) {
										var openDropdown = dropdowns[i];
										if (openDropdown.classList.contains('show')) {
											openDropdown.classList.remove('show');
										}
									}
								}
							}
						</script>
						<!-- //download -->
					</div>
				</div>
			</div>
		</header>
		<!-- //header -->

		<!-- banner -->
		<div class="banner_w3lspvt-2">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#" class="font-weight-bold">Home</a></li>
				<li class="breadcrumb-item" aria-current="page">Forms to Fill</li>
			</ol>
		</div>
		<!-- //banner -->
	</div>
	<!-- //main banner -->
	<div class="price-sec py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="inner_sec_info_w3_info mt-3">
				<div class="row price-grid-main">
					<div class="col-lg-3 col-sm-6 price-info">
						<div class="prices p-4">
							<div class="prices-bottom text-center">
								<div class="prices-h border-bottom p-4">
									<h4>NHIS</h4>
								</div>
								<a href="{% url 'portal:nhis_form' %}" class="btn button-style mt-4">Fill Form</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6  price-info price-mkres-2">
						<div class="prices p-4 active">
							<div class="prices-bottom text-center">
								<div class="prices-h border-bottom p-4">
									<h4>SSNIT</h4>
								</div>
								<a href="#" class="btn button-style mt-4">Fill Form</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6  price-info price-mkres">
						<div class="prices p-4">
							<div class="prices-bottom text-center">
								<div class="prices-h border-bottom p-4">
									<h4>Personal Details</h4>
								</div>
								<a href="{% url 'portal:personal_details' %}" class="btn button-style mt-4">Fill Form</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6  price-info price-mkres">
						<div class="prices p-4 active">
							<div class="prices-bottom text-center">
								<div class="prices-h border-bottom p-4">
									<h4>Details</h4>
								</div>
								<a href="#" class="btn button-style mt-4">Fill Form</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- copyright bottom -->
	<div class="copy-bottom bg-li py-4 border-top">
		<div class="container-fluid">
			<div class="d-md-flex px-md-3 position-relative text-center">
				<!-- footer social icons -->
				<div class="social-icons-footer mb-md-0 mb-3">
					<ul class="list-unstyled">
						<li>
							<a href="#">
								<span class="fa fa-facebook"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa fa-twitter"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa fa-google-plus"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa fa-instagram"></span>
							</a>
						</li>
					</ul>
				</div>
				<!-- //footer social icons -->
				<!-- copyright -->
				<div class="copy_right mx-md-auto mb-md-0 mb-3">
					<p class="text-bl let">© 2019 Tullow Oil Ghana. All rights reserved | Powered by
						<a href="#" target="_blank">OI</a>
					</p>
				</div>
				<!-- //copyright -->
				<!-- move top icon -->
				<a href="#home" class="move-top text-center">
					<span class="fa fa-level-up" aria-hidden="true"></span>
				</a>
				<!-- //move top icon -->
			</div>
		</div>
	</div>
	<!-- //copyright bottom -->

</body>

</html>
